# Python
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
.venv/
.env/


# IDE
.vscode/
.idea/

data/
*.pt
*.parquet
*.log
*.json
*.jsonl
*.md
*.csv
*.xlsx
*.txt

baselines/
*__pycache__/
*.pt
*.json
*.txt

bebug/
*__pycache__/
*.json
*.py
