# Python
__pycache__/
*.pyc
*.pyo
*.ipynb

# Virtual environment
venv/
.venv/
.env/

# IDE
.vscode/
.idea/

# Local debug
debug/

# Generated results
baselines/results/

# Large artifacts
*.pt
*.parquet
*.log
*.json

# Ignore data contents
data/**

# Keep data structure
!data/
!data/raw/
!data/raw/macro/
!data/raw/market_price/
!data/raw/price/
!data/interim/
!data/processed/

# Keep placeholders
!data/.gitkeep
!data/raw/.gitkeep
!data/raw/macro/.gitkeep
!data/raw/market_price/.gitkeep
!data/raw/price/.gitkeep
!data/interim/.gitkeep
!data/processed/.gitkeep